/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #111;
}

.Titulos-secciones{
  font-family: 'Impact', sans-serif;
  font-size: 50px;
}

h1, h2, h3 {
  font-family: 'Impact', sans-serif;
  letter-spacing: 2px;
  font-weight: 550;
  font-size: 25px;
}

section {
  text-align: center;
}

/* Header */
header {
  padding: 0px 20px;
  background-color: rgb(43 48 53);
}

.navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse;
}

.navbar-nav li a:hover {
    color:rgb(179, 0, 0);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--bs-navbar-active-color);
    font-weight: 600;
}

/* Banner */
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centra vertical */
  align-items: center;     /* centra horizontal */
  text-align: center;
  height: 100vh;
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(/Imagenes/rock-bg.jpg) no-repeat center center / cover;
  color: white;
  padding: 20px;
}

.banner-text {
  font-size: 80px;
}

.banner-text2 {
  font-size: 50px;
  padding-bottom: 30px;
}

/* Sección 1 */
#info {
  padding: 40px 15%;
 } 

#info .detalles {
  margin: 20px 0;
}

.titulo-bandas{
  font-family: 'Impact', sans-serif;
  font-size: 25px;
}

#info .bandas {
  list-style: none;
  margin: 20px 0 40px;
}

#info .bandas li {
  margin: 5px 0;
  font-weight: bold;
}

/* Sección 2: Cómo llegar */
#llegar {
  background: #333;
  padding: 20px 0 40px;
}

#llegar .ingresos {
  list-style: none;
  margin-top: 20px;
}

#llegar .ingresos li {
  text-align: center;
}

#llegar ul {
  margin: 20px auto;
  max-width: 525px;
  text-align: left;
}

.map-container {
  position: relative;
  width: 90%;            /* ocupa el 90% del ancho disponible */
  margin: 40px auto;      /* centra con margen automático */
  padding-bottom: 56.25%;  /* mantiene relación de aspecto 16:9 */
  height: 0;
  overflow: hidden;
  border-radius: 12px;   /* bordes redondeados */
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Sección 3: Contacto */
#contacto {
  background: #222;
  padding: 60px;
  color: #fff;
}

/* Columna izquierda */
.contacto-info h3 {
  margin-bottom: 20px;
  color: #ffffff;
}

.contacto-info p {
  margin-bottom: 10px;
}

.redes a {
    color: rgb(179, 0, 0);
    text-decoration: none;
    margin: 0 10px;
}

.redes a:hover {
  text-decoration: underline;
}

/* Columna derecha (formulario) */
.contacto-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacto-form input,
.contacto-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-row .form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-row.full {
  flex-direction: column;
  align-items: center;
}

.contacto-form button {
  align-self: center;
  background: rgb(179, 0, 0);
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.contacto-form button:hover {
  background: rgb(179, 0, 0);
}

/* Formulario nuevo con Boostrap */
.form-contact {
    width: 58%;
}

.campos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mb-3 {
    width: 50%;
    padding: 0 7px;
}

.completar {
  width: 100%;
}

.form-contact button {
  align-self: center;
  background: rgb(179, 0, 0);
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.form-contact button:hover {
  background: rgb(179, 0, 0);
}

/* FAQ */
.faq ul {
  list-style: none;
  text-align: left;
  margin: 0px 500px;
}

.faq li {
  margin-bottom: 15px;
}

.contacto-container, .faq-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 60px 10%;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.contacto-wrapper, .faq-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 35px;
    align-content: flex-start;
    align-items: stretch;
    width: 100%;
}

.contacto-info, .faq-column-izq {
    flex: 1 1 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contacto-form, .faq-column-der {
    flex: 1 1 58%;
}

.faq-titulo {
   font-family: 'Impact', sans-serif;
    font-size: 33px;
    font-weight: 500;
    text-align: center;
    font-size: 25px;
}

.faq-textbox {
    display: flex;
    padding: 25px 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    align-self: stretch;
    background: linear-gradient(90deg, rgba(255, 255, 255, .16) 0, rgba(153, 153, 153, .2) 100%);
    backdrop-filter: blur(12px);
}

.faq-subtitulo {
    font-size: 19px;
    font-weight: 500;
}

.faq-subtitulo, .faq-titulo {
    color: var(--Gama-gray-FFFFFF, #fff);
}

.faq-boton p a, .faq-subtitulo, .faq-titulo {
    font-style: normal;
    line-height: normal;
}


.faq-cta, .faq-item, .faq-textbox {
    border-radius: 30px;
}

.faq-subtitulo, .faq-titulo {
    color: var(--Gama-gray-FFFFFF, #fff);
}

.faq-item {
    color: #fff;
    margin-bottom: 10px;
    overflow: hidden;
    transition: .3s;
}

.faq-question {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 18px;
    cursor: pointer;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    transition: background-color .3s;
    background: transparent;
    border-style: unset;
}

.faq-question::after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 18px;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 18px;
  transition: max-height 0.4s ease, padding 0.3s;
  font-size: 16px;
}

.faq-item.active .faq-answer {
  max-height: 200px; /* o más si tus respuestas son largas */
  padding: 10px 18px 15px;
}

.faq-item.active .faq-question {
    font-weight: 700;
    background-color:rgb(179, 0, 0);
    border-radius: 30px 30px 0 0;
}

.faq-item.active .faq-question::after {
  content: '-';
}

.faq-answer, .faq-cta, .faq-item {
    background: rgba(255, 255, 255, .1);
}

/* Footer */
footer {
  background: rgb(43 48 53);
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  border-top: 1px solid #444;
}

footer img{
    width: 30px;
    margin: 0 5px 5px 5px;
}

.redes {
  text-decoration: none
}

footer p{
  margin: 0;
}

#countdown {
  color: #fff;
  text-align: center;
  padding: 40px 20px;
}

#timer {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  flex-wrap: wrap;
}

#timer div {
  background: #000;
  padding: 20px;
  border-radius: 20px;
  min-width: 120px;
}

#timer span {
  display: block;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#timer p {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 300;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}

.tickets{
    background-color: #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    border-radius: 40px;
    padding: 11px 21px 11px 22px;
    transition-duration: .3s;
    text-decoration: none;
}

.tickets:hover{
  border-color: rgb(179, 0, 0);
  background-color: rgb(179, 0, 0);

}

/* ----- Mosaico ----- */
#mosaico {
  padding: 0px;
  background: #111;
  color: #fff;
}

.mosaico {
  display: flex;
  flex-wrap: wrap;
  gap: 0px; /* espacio entre items */
}

.mosaico .item {
  flex: 1 1 calc(33.333% - 20px); /* 3 columnas */
  background: #222;
  overflow: hidden;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease;
}

/* Por ahora no quiero que tenga hover porque no lo voy a interactuar
.mosaico .item:hover {
  transform: scale(1.03);
}
  */

/* imágenes */
.mosaico .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* texto */
.mosaico .texto {
  padding: 20px;
  font-size: 1rem;
  line-height: 1.5;
}

/* Mosaico Nuevo */
  .box {
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
    background-color: rgb(34, 34, 34);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box-text {
    padding: 30px;
  }
  .box:hover {
    background-color: rgba(255,255,255,0.2);
    transform: translateY(-5px);
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1800px;
  }

  .text-center {
    padding-bottom: 20px;
  }

  #grilla{
    margin-top: 0rem !important;
  }
